.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.pagination button {
    padding: 0.5em 1em;
    margin: 0 0.5em;
    cursor: pointer;
}

.pagination button.active {
    font-weight: bold;
    background-color: hsl(150 66% 49%);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em 1em;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}